%input.input-xlarge{:type => "text", :value => args["url"]}
.text returns status code
%input.input-mini{:type => "text", :value => args["status"]}
.text and contains
%input.input-large{:type => "text", :value => args["content"]}
