= form.text_field :url, :value => args["url"], :class => "input-xlarge"
.text returns status
= form.text_field :status, :value => args["status"], :class => "input-mini", :placeholder => "200"
.text and contains
= form.text_field :content, :value => args["content"], :class => "input-medium", :placeholder => "ok"
