.well
  %h2
    Workflows
    .right
      %a.btn.btn-success{:href => new_workflow_path}
        %i.icon-plus-sign
        New Workflow

  %table.table
    %thead
      %tr.button
        %th.text.max    Workflow Name
        %th.text.nowrap Last Run
        %th.text.nowrap Duration
        %th.text.nowrap Status
    %tbody
      - workflows.each do |workflow|
        %tr
          %td.text.max
            %a.workflow-name{:href => workflow_path(workflow)}= workflow.name
          %td.text.nowrap
            %a{:href => workflow_run_path(workflow, workflow.latest_run)}= friendly_last_run(workflow)
          %td.text.nowrap= friendly_duration(workflow)
          %td.text.nowrap
            .workflow-status.success
              %i.fondu_015-check
