.well
  %h2
    Workflows
    .right
      %a.btn.btn-success{:href => "/workflows/new"} New Workflow

  %table.table
    %thead
      %tr.button
        %th.text.max    Workflow Name
        %th.text.nowrap Last Run
        %th.text.nowrap Duration
        %th.text.nowrap Status
    %tbody
      %tr.success
        %td.text.max
          %a{:href => "/workflows/1"} Workflow App to Production
        %td.text.nowrap 10 minutes ago
        %td.text.nowrap 2m45s
        %td.text.nowrap Success

