%form.form-horizontal

  .well
    %input.input-xxlarge{:type => "text", :id => "name", :placeholder => "Workflow Name"}
    .right
      %button.btn.btn-success{:type => "submit"} Save Changes

  .well
    %h3 Trigger
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#trigger-github"} Github
      %li
        %a{"data-toggle" => "tab", :href => "#trigger-heroku"} Heroku
    .tab-content
      .tab-pane.active#trigger-github
        .inline
          %label Repository:
          %select
          %label Branch:
          %select
      .tab-pane#trigger-heroku
        .inline
          %label App:
          %select

  .well
    %h3 Steps

    = render "step", :num => 1
    = render "step", :num => 2

    %button.btn.btn-success Add Step
