/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

table.table tr {
  .text {
    padding: 12px 18px;
  }
  .right {
    text-align: right
  }
  .max {
    width: 100%;
  }
  .nowrap {
    white-space: nowrap;
  }
}

table.table tr.success td {
  background-color: #dff0d8;
}

table.table tr.failure td {
  background-color: #f2d3d3
}

.right {
  float: right;
}

.box-container {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

label.emphasis {
  font-size: 1.4em;
  font-weight: bold;
  float: left;
  padding-top: 5px;
  margin-right: 16px;
}

.well h2 {
  border-radius: 6px 6px 0px 0px;
  margin: -20px;
  margin-bottom: 20px;
  background-color: #ccc;
  padding: 6px 18px;
  .right {
    margin-top: -2px;
  }
}

.well h3 {
  border-radius: 6px 6px 0px 0px;
  margin: -20px;
  margin-bottom: 20px;
  background-color: #ccc;
  padding: 6px 12px;
}

.well .nav {
  margin-bottom: 0px;
}

.well .tab-content {
  background-color: #fff;
  padding: 18px;
  border: 1px #ddd solid;
  border-top: 0px;
  margin-bottom: 14px;
}

.num {
  float: left;
  font-size: 1.2em;
  font-weight: bold;
  padding: 6px 9px;
  padding-left: 11px;
  background-color: #333;
  color: #fff;
  height: 18px;
  width: 11px;
  border-radius: 18px;
  margin-right: 10px;
}

.well hr {
  border-top-color: #ccc;
}

.inline {
  * {
    float: left
  }
  input {
    margin-top: 1px;
    margin-right: 12px;
  }

  .text {
    margin-top: 4px;
    margin-right: 12px;
  }

  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

.trigger-type-chooser {
  margin-right: 12px;
}

.step {
  margin-bottom: 0px;

  .step-type-chooser {
    margin-right: 12px;
  }
}
